@font-face {
  font-family: "avenir"; src: url("fonts/avenir.otf") format("opentype");
  font-family: "gotham-bold"; src: url("fonts/gotham-bold.otf") format("opentype");
   font-family: "gotham-medium"; src: url("fonts/gotham-medium.otf") format("opentype");
}

.entire-heading {
  display: flex;
  justify-content: space-between;
  background-image: url("https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
 height: 30em; 
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center;
 background-color: #A9A9A9;
 background-blend-mode: multiply;
 flex-wrap: wrap;
}

#ewu-vcd {
  text-transform: uppercase;
  background-color: #F9DA3F;
  text-align: center; 
  height: 80px;
  width: 80px; 
  margin: 40px 0px 0px 25px; 
}

.ewu-vcd-text {
  padding: 1%;  
  margin: 10px 15px 0px 11px; 
  font-size: 15px;
  font-size: 125%; 
  font-family: "gotham-bold", sans-serif;  
}

nav {
  display: flex; 
  flex-direction: row; 
  margin: 1%;
  width: 90%;
  margin-left: 10%; 
}

.nav-list {
 display: flex; 
 justify-content: space-between; 
 font-size: 20px;  
 padding: 0% 2% 0% 2%;
 width: 100%;  
 height: 85px;
 font-family: "avenir", avenir;
 font-weight: bold;
}

#about-list,
#programs-list,
#faculty-list,
#students-list,
#contact-list {
  display: flex;
  flex-wrap: nowrap;
  background-color: #3E414F; 
  color: white; 
  padding: .3%;
  width: 70px; 
  height: 16px;
  justify-content: center;
  text-decoration: none;
  margin-top: 14px; 
}


#faculty-list {
  background-color: #F9DA3F 
}

#nav-image:hover { 
    background-color: #F9DA3F;
}

#nav-image {
 display: flex; 
 height: 30px; 
 align-self: center; 
 background-color: #3E414F; 
 padding: .2%;
}

 .very-top{
    display: flex; 
    flex-wrap: nowrap; 
    width: 100%; 
  }

.heading-text {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-self: flex-end; 
  text-align: center;
  color: white; 
  height: 70%;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

#faculty {
  text-transform: uppercase;
  margin-bottom: .5%;
  margin-top: -7%;
  font-size: 400%;
  font-family: "gotham-bold", sans-serif;
}

#faculty-p {
  font-size: 110%; 
  margin-top: 4%; 
  word-spacing: 3px;
  font-family: "avenir", avenir;  
  opacity: .6; 
}

.whole-badass-staff{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr); 
height: 30em;  
grid-gap: 10px;
margin: 20px; 
}

#badass-staff-image-1 {
 background-color: #00004d; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 3; 
 color: white; 
 text-transform: uppercase;
 font-size: 25px; 
 padding: 130px 50px 20px 50px;
 font-family: "gotham-medium", sans-serif;  
}

#badass-staff {
text-transform: uppercase; 
color: lightgrey; 
}


#badass-staff-image-2 {
 background-image: url("https://images.pexels.com/photos/825979/pexels-photo-825979.jpeg?auto=compress&cs=tinysrgb&h=350");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 1;
 grid-row-end: 1;
 display: flex;
 justify-content: flex-start;
}

#badass-staff-colors-1 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: lightgrey; 
font-family: "gotham-bold", sans-serif;
}

#badass-staff-image-3 {
 background-image: url("https://images.pexels.com/photos/211050/pexels-photo-211050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 2; 
display: flex;
justify-content: flex-end;
font-family: "gotham-bold", sans-serif;
}

#badass-staff-colors-2{
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: #F9DA3F;
}

#badass-staff-image-4 {
 background-image: url("https://images.pexels.com/photos/450271/pexels-photo-450271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 3;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 1; 
display: flex;
justify-content: flex-end;
}

#badass-staff-colors-3 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: #00004d; 
color: lightgrey; 
font-family: "gotham-bold", sans-serif;
}

#badass-staff-image-5 {
 background-image: url("https://images.pexels.com/photos/1371177/pexels-photo-1371177.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 3;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 2; 
display: flex;
justify-content: flex-end;
}

#badass-staff-colors-4 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: black;
color: #F9DA3F; 
font-family: "gotham-bold", sans-serif;
}

/********2nd grid starts*/

.whole-thinking-visual{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr); 
height: 500px; 
grid-gap: 10px;
height: 30em;
margin: 20px; 
}

#thinking-visual-image-1 {
 background-color: #F9DA3F; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 3;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 3; 
 color: black; 
 text-transform: uppercase;
 font-size: 25px; 
 padding: 130px 50px 20px 50px; 
 font-family: "gotham-medium", sans-serif;  
}

#thinking-visual {
text-transform: uppercase; 
margin-bottom: 25px; 
}

#thinking-visual-image-2 {
 background-image: url("https://images.pexels.com/photos/769024/pexels-photo-769024.jpeg?auto=compress&cs=tinysrgb&h=350");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 1;
 grid-row-end: 1;
 display: flex;
 justify-content: flex-start;
}

#thinking-visual-colors-1 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: black; 
color: #F9DA3F;
font-family: "gotham-bold", sans-serif;
}

#thinking-visual-image-3 {
 background-image: url("https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 2; 
display: flex;
justify-content: flex-end;
font-family: "gotham-bold", sans-serif;
}

#thinking-visual-colors-2 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: lightgrey;
}

#thinking-visual-image-4 {
 background-image: url("https://images.pexels.com/photos/887827/pexels-photo-887827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 1; 
display: flex;
justify-content: flex-start;
}

#thinking-visual-colors-3 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
color: lightgrey; 
background-color: #00004d;  
font-family: "gotham-bold", sans-serif;
}

#thinking-visual-image-5 {
 background-image: url("https://images.pexels.com/photos/720604/pexels-photo-720604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 2;
 grid-row-end: 2; 
display: flex;
justify-content: flex-end;
}

#thinking-visual-colors-4{
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: #F9DA3F; 
font-family: "gotham-bold", sans-serif;
}

/******2nd-grid-end***/

.whole-footer {
  margin-top: 20px; 
  background-color: #00004d;
  height: 250px; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  color: white;
  text-align: center; 
  padding-top: 42px;
  font-size: 25px;
  font-family: "gotham-medium", sans-serif;  
}

.footer-list-1 {
 grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1; 
}

.footer-list-2 {
 grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1; 
}

.footer-list-3 {
 grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

@media only screen and (max-width: 1100px) and (min-width: 650px) {
   
.entire-heading {
 height: 300px; 
 align-items: center;
}
  
nav {
  margin: 0%;
  width: 100%; 
 }
  
.nav-list {
 font-size: 14px;
 height: 60px; 
}

#about-list,
#programs-list,
#faculty-list,
#students-list,
#contact-list {
  padding: .3%;
  width: 70px; 
  height: 20px;
  margin-top: 19px; 
}
  
  #nav-image {
 height: 20px;
}
  
#ewu-vcd {
  height: 60px;
  width: 60px; 
  margin: 20px 0px 0px 25px; 
}

.ewu-vcd-text {
  margin: 6px 15px 0px 10px; 
  font-size: 105%;
}
 
#faculty {
  margin-top: -20px; 
  margin-bottom: 40px;
  font-size: 250%;
}
  
#faculty-p { 
  font-size: 75%; 
  margin-top: -5%;
}
} 

@media only screen and (max-width: 650px) {
  
.entire-heading {
 height: 300px; 
 align-items: center;
}
  
nav {
  margin: 0%;
  width: 100%;
}
  
.nav-list {
  font-size: 12px;
  height: 50px;
}

#about-list,
#programs-list,
#faculty-list,
#students-list,
#contact-list 
{
  width: 60px;
} 
  
  #nav-image {
 height: 17px;
 margin-top: -3px; 
}
  
  #ewu-vcd {
 display: none; 
}

.ewu-vcd-text {
  display: none;
  }
  
  
#faculty {
  margin-top: -20px; 
  margin-bottom: 40px;
  font-size: 200%;
}
  
#faculty-p { 
  font-size: 75%; 
  margin-top: -5%;
}
  
.whole-badass-staff,
.whole-thinking-visual {
  justify-content: space-between;
  display: flex;
  flex-direction: column; 
  height: 100%; 
}

#badass-staff-image-1,
  #thinking-visual-image-1 { 
  height: 175px;
  text-align: center;
  margin: 0 auto; 
}

#badass-staff-image-1 {
  padding-top: 30px;
  }
  
#thinking-visual-image-1{
  padding-top: 15px;
  font-size: 20px; 
  }

#badass-staff-image-2,
#badass-staff-image-3,
#badass-staff-image-4,
#badass-staff-image-5,
#thinking-visual-image-2,
#thinking-visual-image-3,
#thinking-visual-image-4,
#thinking-visual-image-5 {
  margin: 10px; 
  height: 250px;  
}

  
 #badass-staff-image-2,
 #badass-staff-image-4,
 #badass-staff-image-5,
 #thinking-visual-image-2,
 #thinking-visual-image-5 {
    background-position: center bottom; 
  }

.whole-footer {
  font-size: 12px;
  padding-top: 20px;
  height: 120px
  }
  
}

@media only screen and (min-width: 1100px){

#about-list,
#programs-list,
#faculty-list,
#students-list,
#contact-list {
  padding: .3%;
  width: 100px; 
  height: 30px;
  margin-top: 25px; 
}
  
  #badass-staff-image-1,
  #thinking-visual-image-1 {
    padding-top: 230px;  
    font-size: 300%;
  }
  
  #badass-staff-image-1 {
  padding-top: 100px; 
  height: 490px; 
  }
  
  #thinking-visual-image-1 { 
  padding-top: 20px;
  height: 570px; 
  }

  #badass-staff-image-2,
  #thinking-visual-image-2 {
    height: 300px; 
  }
  
  
  .whole-thinking-visual {
   margin-top: 150px;  
   margin-bottom: -90px; 
  }
  
  #badass-staff-image-3,
  #thinking-visual-image-3 {
    height: 300px; 
  }
  
  #badass-staff-image-4,
  #thinking-visual-image-4 {
    height: 300px; 
  }
  
  #badass-staff-image-5,
  #thinking-visual-image-5 {
    height: 300px; 
  }
  
  #thinking-visual-image-5 {
    background-position: center; 
  }
  
  .whole-footer{
    position: relative;
    top: 215px; 
    height: 500;
    font-size: 30px; 
    padding-top: 20px;
  }
} 

