@font-face {
  font-family: "avenir"; src: url("fonts/avenir.otf") format("opentype");
  font-family: "gotham-bold"; src: url("fonts/gotham-bold.otf") format("opentype");
   font-family: "gotham-medium"; src: url("fonts/gotham-medium.otf") format("opentype");
}

.entire-heading {
  display: flex;
  justify-content: space-between;
  background-image: url("https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350"); 
 height: 30em; 
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center;
 background-color: #A9A9A9;
 background-blend-mode: multiply;
 flex-wrap: wrap;
}

#ewu-vcd {
  text-transform: uppercase;
  background-color: #F9DA3F;
  text-align: center; 
  height: 80px;
  width: 80px; 
  margin: 40px 0px 0px 25px; 
}

.ewu-vcd-text {
  padding: 1%;  
  margin: 10px 15px 0px 11px; 
  font-size: 15px;
  font-size: 125%; 
  font-family: "gotham-bold", sans-serif;  
}

nav {
  display: flex; 
  flex-direction: row; 
  margin: 1%;
  width: 90%;
  margin-left: 10%; 
}

.nav-list {
 display: flex; 
 justify-content: space-between; 
 font-size: 20px;  
 padding: 0% 2% 0% 2%;
 width: 100%;  
 height: 85px;
 font-family: "avenir", avenir;
}

.list-items {
  display: flex;
  flex-wrap: nowrap;
  background-color: #3E414F; 
  color: white; 
  padding: .3%;
  width: 130px;  
  justify-content: center;  
}

#faculty-link {
  align-items: center;
  height: 26px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 26px;
}

#highlighted-part{
  display: flex;
  align-items: center;
  background-color: #F9DA3F;
  height: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 19px;
}


#nav-image:hover { 
    background-color: #F9DA3F;
}

#nav-image {
 display: flex; 
 height: 30px; 
 align-self: center; 
 background-color: #3E414F; 
 padding: .2%;
}

 .very-top{
    display: flex; 
    flex-wrap: nowrap; 
    width: 100%; 
  }

.heading-text {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-self: flex-end; 
  text-align: center;
  color: #F9DA3F; 
  height: 70%;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

#students {
  text-transform: uppercase;
  margin-bottom: .5%;
  margin-top: -7%;
  font-size: 400%;
  font-family: "gotham-bold", sans-serif;
}

#student-p {
  font-size: 110%; 
  margin-top: 4%; 
  word-spacing: 3px;
  font-family: "avenir", avenir;  
  opacity: .6; 
}

.whole-lauren {
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-gap: 10vh;  
  align-items: center;
  width: 100%; 
  height: 300px; 
  margin: 2% 1% 2% 1%;
}

#lauren-picture {
  background-image: url("https://images.pexels.com/photos/1462630/pexels-photo-1462630.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; 
  width: 100%;  
  height: 100%; 
}

.lauren-content{
  margin-left: -10px; 
  margin-right: 10px; 
  
}

#lauren-title {
  text-transform: uppercase;
  font-size: 200%;
  font-family: "avenir", avenir; 
}

#lauren-description {
  font-size: 150%;
   font-family: "gotham-bold", sans-serif; 
}

#lauren-quote {
 font-size: 100%;
 padding-right: 10px; 
 font-family: "gotham-medium", sans-serif;  
}

/******chad********/

.whole-chad {
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-gap: 10vh;  
  align-items: center;
  width: 100%; 
  height: 300px; 
  margin: 2% 1% 2% 1%;
}

#chad-picture {
  background-image: url("https://images.pexels.com/photos/1438081/pexels-photo-1438081.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; 
  object-fit: fill; 
  width: 100%;  
  height: 100%; 
}

.chad-content{
  margin-left: -10px; 
  margin-right: 10px; 
  
}

#chad-title {
  text-transform: uppercase;
  font-size: 200%;
   font-family: "avenir", avenir; 
}

#chad-description {
  font-size: 150%;
  font-family: "gotham-bold", sans-serif;
}

#chad-quote {
 font-size: 100%;
 padding-right: 10px; 
 font-family: "gotham-medium", sans-serif;  
}

/******end-chad********/

/******sarah********/

.whole-sarah {
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-gap: 10vh;  
  align-items: center;
  width: 100%; 
  height: 300px; 
  margin: 2% 1% 2% 1%;
}

#sarah-picture {
  background-image: url("https://images.unsplash.com/photo-1485199692108-c3b5069de6a0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8bd3737cd07c2ecfdf1cd65c780cfbb3&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; 
  object-fit: fill; 
  width: 100%;  
  height: 100%; 
}

.sarah-content{
  margin-left: -10px; 
  margin-right: 10px; 
  
}

#sarah-title {
  text-transform: uppercase;
  font-size: 200%;
   font-family: "avenir", avenir; 
}

#sarah-description {
  font-size: 150%;
  font-family: "gotham-bold", sans-serif;
}

#sarah-quote {
 font-size: 100%;
 padding-right: 10px;
 font-family: "gotham-medium", sans-serif; 
}

/******end-sarah********/

/******logan********/

.whole-logan{
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-gap: 10vh;  
  align-items: center;
  width: 100%; 
  height: 300px; 
  margin: 2% 1% 2% 1%;
}

#logan-picture {
  background-image: url("https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?ixlib=rb-0.3.5&s=ca29b564ae096553b2c2d99609eca172&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; 
  object-fit: fill; 
  width: 100%;  
  height: 100%; 
}

.logan-content{
  margin-left: -10px; 
  margin-right: 10px; 
}

#logan-title {
  text-transform: uppercase;
  font-size: 200%;
  font-family: "avenir", avenir; 
}

#logan-description {
  font-size: 150%;
  font-family: "gotham-bold", sans-serif;
}

#logan-quote {
 font-size: 100%;
 padding-right: 10px; 
 font-family: "gotham-medium", sans-serif;
}

/******end-logan********/

.whole-alumni{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr); 
height: 500px; 
grid-gap: 10px;
}

#image-1 {
 background-color: #00004d; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 3; 
 color: white; 
 text-transform: uppercase;
 font-size: 25px; 
 padding: 80px 20px 20px 20px; 
 text-align: center;
 font-family: "gotham-medium", sans-serif;  
}

#notable-alumni {
text-transform: uppercase; 
margin-bottom: 25px; 
}

#where-now {
  border-top: solid #F9DA3F 10px;
  padding-top: 25px; 
}


#image-2 {
 background-image: url("https://images.unsplash.com/photo-1543242594-597f36d719be?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=506c6b878e0e4b390f93b1fa54db4b8e&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 1;
 grid-row-end: 1;
 display: flex;
 justify-content: flex-end;
}

#alumni-colors-1 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: lightgrey; 
font-family: "gotham-bold", sans-serif;
}

#image-3 {
 background-image: url("https://images.unsplash.com/photo-1520177812839-78269c5ed62d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b73f9e34c599faaf6d88842ae2a9fb3f&auto=format&fit=crop&w=2250&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 2;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 2; 
display: flex;
justify-content: flex-end;
font-family: "gotham-bold", sans-serif;
}

#alumni-colors-2{
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: #F9DA3F;
}

#image-4 {
 background-image: url("https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 3;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 1; 
display: flex;
justify-content: flex-end;
}

#alumni-colors-3 {
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: #F9DA3F;
font-family: "gotham-bold", sans-serif;
}

#image-5 {
 background-image: url("https://images.pexels.com/photos/213117/pexels-photo-213117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 grid-column-start: 3;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 2; 
display: flex;
justify-content: flex-end;
}

#alumni-colors-4{
text-transform: uppercase;  
text-align: center; 
margin-top: -0px;
padding: 7px; 
font-size: 15px;
height: 20px;
width: 140px;
bottom: 15px; 
background-color: lightgrey; 
font-family: "gotham-bold", sans-serif;
}



.whole-footer {
  margin-top: 20px; 
  background-color: #00004d;
  height: 250px; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  color: white;
  text-align: center; 
  padding-top: 42px;
  font-size: 25px;
  font-family: "gotham-medium", sans-serif;  
}

.footer-list-1 {
 grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1; 
}

.footer-list-2 {
 grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1; 
}

.footer-list-3 {
 grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

@media only screen and (max-width: 1200px) and (min-width: 650px) {
   
.entire-heading {
 height: 300px; 
 align-items: center;
}
  
nav {
  margin: 0%;
  width: 100%; 
 }
  
.nav-list {
 font-size: 14px;
 height: 60px; 
}

.list-items {
  width: 90px;
} 
  
  #nav-image {
 height: 20px;
}
  
#faculty-link {
  height: 19px;
  margin-top: 19px;
}
  
#ewu-vcd {
  height: 60px;
  width: 60px; 
  margin: 20px 0px 0px 25px; 
}

.ewu-vcd-text {
  margin: 6px 15px 0px 10px; 
  font-size: 105%;
}
  
#students {
  margin-top: -20px; 
  margin-bottom: 40px;
  font-size: 250%;
}
  
#student-p { 
  font-size: 75%; 
  margin-top: -5%;
}
} 

@media only screen and (max-width: 650px) {
.entire-heading {
 height: 300px; 
 align-items: center;
}
  
nav {
  margin: 0%;
  width: 100%;
}
  
.nav-list {
 font-size: 12px;
 height: 50px;
}

.list-items {
  width: 60px;
} 
  
#faculty-link {
  height: 15px;
  margin-top: 14.5px;
}
  
#highlighted-part{
  height: 15px;
  margin-top: 14.5px;
} 
  
  #nav-image {
 height: 17px;
}
  
  #ewu-vcd {
 display: none; 
}

.ewu-vcd-text {
  display: none;
  }
  
  
#students {
  margin-top: -20px; 
  margin-bottom: 40px;
  font-size: 200%;
}
  
#student-p { 
  font-size: 75%; 
  margin-top: -5%;
}
  
  .whole-lauren {
    margin: 0 auto; 
     display: flex;
     justify-content: space-between;
    flex-direction: column; 
    height: 100%; 
  }
  
#lauren-picture{
  margin: 20px 0px 40px 0px; 
height: 250px; 
}

.lauren-content{
  margin: -30px 10px 0px 10px; 
  text-align: center;
}

#lauren-title {
  text-transform: uppercase;
  font-size: 175%;
}

#lauren-description {
  font-size: 140%;
}

#lauren-quote {
 font-size: 100%;
 padding-right: 10px; 
  margin-bottom: 40px;
}


/*****chad-min-600*****/
  
  .whole-chad {
     margin: 0 auto; 
     display: flex;
     justify-content: space-between;
    flex-direction: column; 
    height: 100%; 
  }
  
#chad-picture{
  margin: 20px 0px 40px 0px; 
height: 250px; 
}
  
.chad-content {
   margin: -30px 10px 0px 10px; 
  text-align: center;
  }

#chad-title {
  text-transform: uppercase;
  font-size: 175%;
}

#chad-description {
  font-size: 140%;
}

#chad-quote {
 font-size: 100%;
 padding-right: 10px; 
  margin-bottom: 40px;
}

/****end-chad-min-600****/
/****sarah-min-600****/
  
.whole-sarah {
     margin: 0 auto; 
     display: flex;
     justify-content: space-between;
    flex-direction: column; 
    height: 100%; 
  }  
  
#sarah-picture{
  margin: 20px 0px 40px 0px; 
height: 250px; 
}
  
.sarah-content {
  margin: -30px 10px 0px 10px; 
  text-align: center;
  } 
  
#sarah-title {
  text-transform: uppercase;
  font-size: 175%;
}

#sarah-description {
  font-size: 140%;
}

#sarah-quote {
 font-size: 100%;
 padding-right: 10px; 
  margin-bottom: 40px;
}

/*******end-sarah*******/

/*******logan-min-600*******/

.whole-logan {
     margin: 0 auto; 
     display: flex;
     justify-content: space-between;
    flex-direction: column; 
    height: 100%; 
  }    
  
#logan-picture{
  margin: 20px 0px 40px 0px; 
height: 250px; 
}

.logan-content{
 margin: -30px 10px 0px 10px; 
 text-align: center;
}

#logan-title {
  text-transform: uppercase;
  font-size: 150%;
}

#logan-description {
  font-size: 115%;
}

#logan-quote {
 font-size: 100%;
 padding-right: 10px; 
  margin-bottom: 40px;
}

/****end-logan-min-600***/

.whole-alumni {
  justify-content: space-between;
  display: flex;
  flex-direction: column; 
  height: 100%; 
}

#image-1{ 
  height: 200px;
  padding-top: 5px;
  padding-bottom: 100px; 
}

#notable-alumni {
text-transform: uppercase; 
margin-bottom: 25px; 
}

#where-now {
  border-top: solid yellow 10px;
  padding-top: 25px; 
}

#image-2,
#image-3,
#image-4,
#image-5{
  margin: 10px; 
  height: 250px;  
}
  
#image-4,
#image-5 {
      background-position: center center;
}

.whole-footer {
  font-size: 12px;
  padding-top: 20px;
  height: 120px
  }   
}


@media only screen and (min-width: 1200px){
   
  #highlighted-part{
    height: 23px;
    margin-top: 27px;
  }

.whole-lauren {
    height: 450px;
  }
  
#lauren-title {
  font-size: 350%;
}

#lauren-description {
  font-size: 215%;
}

#lauren-quote {
 font-size: 115%;
}

.whole-chad {
    height: 450px;
  }
  
#chad-title {
  font-size: 350%;
}

#chad-description {
  font-size: 215%;
}

#chad-quote {
 font-size: 115%;
}

.whole-sarah {
    height: 450px;
  }
  
#sarah-title {
  font-size: 350%;
}

#sarah-description {
  font-size: 215%;
}

#sarah-quote {
 font-size: 115%;
}
  
  .whole-logan {
    height: 450px; 
  }
  
  #logan-title {
  font-size: 350%;
}

#logan-description {
  font-size: 215%;
}

#logan-quote {
 font-size: 115%;
}

  
   #image-1 {
    padding-top: 230px;  
    height: 460px; 
  }
  
   #image-2 {
    height: 350px; 
  }
  
   #image-3 {
    height: 350px; 
  }
  
  #image-4 {
    height: 350px; 
  }
  
  #image-5 {
    height: 350px; 
  }
  
  .whole-footer{
    position: relative;
    top: 215px; 
    height: 500;
    font-size: 30px; 
    padding-top: 20px;
  }
} 